/* SentimentList.css */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

label {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

li:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

li a {
  display: flex;
  align-items: center;
  width: 100%;
}

img {
  width: 20%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 6px;
}

strong {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
}

/* SentimentList.css or App.css */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Sentiment.css */

/* Initial state of the list items */
li {
  opacity: 0;
  transform: translateY(20px); /* Start from below */
}

/* When the item enters the DOM */
li.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Start from below */
}

/* When the item is fully entered */
li.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

/* When the item is leaving the DOM */
li.fade-leave {
  opacity: 1;
}

/* When the item has left the DOM */
li.fade-leave-active {
  opacity: 0;
  transform: translateY(20px); /* Move out of view */
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Sentiment.css */
.sentiment-bar-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sentiment-bar {
  display: flex;
  margin-bottom: 10px;
}

.sentiment-bar > span {
  width: 120px; /* Adjust this to change category name width */
  text-align: right;
  padding-right: 10px;
}

.sentiment-bar > div {
  height: 20px;
  border-radius: 4px;
}
